body {
  background-color: rgb(46, 102, 46);
}
h1 , h2 {
  background-color: rgba(245, 245, 220, 0.726);
  text-align: center;
  color: rgb(9, 113, 9);
}
a:link, a:visited {
  text-decoration: none;
  background-color: rgb(245, 245, 220, 0.726);
}
li {
  color: white;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
}
.enlarged {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
img {
  margin: 10px;
  width: 300px;
  height: 400px;
}
p {
  color: white;
}
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
}

#modal img {
    width: 90vw;
    height: 90vh;
    object-fit: cover;
}
#close, #prev, #next {
    position: absolute;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#close {
    top: 20px;
    right: 30px;
}

#prev {
    top: 50%;
    left: 20px;
}

#next {
    top: 50%;
    right: 20px;
}
.recipe-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.recipe-item img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

#recipe-text {
    position: relative;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    background: url('cinnamon_matcha2.jpg') center/cover no-repeat;
    border-radius: 10px;
}

.recipe-text::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    z-index: 0;
}

.recipe-text span {
    position: relative;
    z-index: 1;
}
